/* variables */
@white: #fff;
@black: #000;
@gray-darkest: #333;
@gray-dark: #666;
@gray-med: #999;
@gray-light: #ccc;
@gray-lightest: #f1f1f1;
@red: #ff0000;
@green: #00ff00;
@blue: #0000ff;

@linkColor:	#09c;
@linkColorHover: darken(@linkColor, 15%);

@set1-font-color:#333;
@set1-font-highlight:#ccc;
@set1-font-link:#447766;
@set1-bg-color:#fff;

@set2-font-color:#ccc;
@set2-font-highlight:#333;
@set2-font-link:#447766;
@set2-bg-color:#111;

@max-width:1400px;

@padding-max:20px;
@padding-med:10px;
@padding-min:5px;
@margin-max:20px;
@margin-med:10px;
@margin-min:5px;

