/* usage: grayscale(1); */


.transition (@property: all, @duration: .5s, @timing: linear, @delay: 0 ) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

/* .box-shadow (@x: 2px, @y: 6px, @blur: 0px, @spread: 0px, @color: rgba(0,0,0,.5)) {
	box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
} */